root {
    display: block;
}


body {
    background-color: #000;
    margin: 0;
    padding: 0;
	 display: block;
}


#game {
    position: fixed;
    bottom: 200;
    right: 700;
    width: 640px;
    height: 700px;
    margin: 30px auto;
   border-radius: 15px;
}

#game h1 {
    color: #FFFFFF;
    text-align: center;
	font-size: 35px;
}

#game help {
    color: #FFFFFF;
    text-align: center;
	font-size: 16px;
}